.container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 15px;
}
@media (max-width: 512px) {
  .widget{
    display: flex;
    flex-wrap: wrap;
  }
}
.widget {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  display: flex;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Box shadow for the content */
width: 41%;
}

.widget h3 {
  margin-top: 0;
  color: #333;
  font-size: medium;
  font-weight: 900;
}
::ng-deep .p-element{
  float: right;
  margin: 9px;
}
::ng-deep .p-button{
  border-radius: 6px !important;
}