<app-sidebar></app-sidebar>
<header>
  <h1></h1>
  <p>Welcome to our awesome content page!</p>
</header>

<main>
  <h2>Contact US:</h2>
  <p>Company Email: www.html.com</p>

  <h3>Location</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim sed quae necessitatibus at incidunt asperiores
    debitis voluptatum? Accusamus, assumenda praesentium illo tenetur doloribus ducimus sed blanditiis excepturi? Illum,
    nobis obcaecati.
    Aut illum explicabo nam quod quo ab incidunt. Impedit animi asperiores itaque. Officia perspiciatis maxime autem
    nemo voluptates ratione pariatur! Natus magni praesentium libero laudantium fugiat commodi ipsam accusamus
    dignissimos.
    Vitae minima facilis, quam eum, reprehenderit rem, quaerat consequatur quod possimus voluptatibus quo sit laboriosam
    quasi mollitia ab debitis soluta. Minus deserunt id voluptas nobis. Magnam consequuntur dolorem dolore vel.
    Hic optio accusamus, cumque quo quas recusandae amet maxime nobis minima eligendi iure veniam mollitia, blanditiis
    iste at qui consectetur rem illo omnis cupiditate, ipsum autem voluptas praesentium aliquid? Fugiat!
    Necessitatibus, facilis, quos ratione tenetur beatae magnam aliquam quidem sapiente quia illo maxime delectus aut
    asperiores mollitia dolor culpa libero expedita obcaecati enim repellat! Nulla aspernatur expedita quidem quam
    voluptate.
    Blanditiis labore corporis suscipit sit asperiores ullam necessitatibus ducimus nulla quidem? Laudantium
    consectetur, illo reprehenderit officiis voluptatibus ea nesciunt aspernatur dignissimos? Rem dignissimos nulla
    veniam placeat earum. At, magni minima.
    Nemo doloribus commodi delectus, iste temporibus eligendi ipsa iusto optio voluptates velit similique quasi facilis
    quo exercitationem voluptate officia assumenda labore? Eveniet architecto velit quas vel in itaque qui expedita!
    Unde fugiat perspiciatis magni id? Deleniti, provident dicta saepe nesciunt pariatur repellat sit eveniet fugiat,
    quasi illum voluptatibus modi? Quo laboriosam voluptatum nihil dolore exercitationem numquam unde cum magni
    nesciunt!
    Illum ducimus molestiae suscipit doloremque alias fugit tenetur temporibus! Voluptas ex odit dolorum ipsum pariatur
    provident incidunt explicabo, amet fugiat rerum expedita est et ratione ipsa, sapiente numquam repellendus? Laborum.
    Corrupti, quo assumenda totam incidunt vitae saepe doloremque eaque aliquam a amet consectetur nobis nisi sapiente?
    Neque tempora porro mollitia! Voluptate omnis deserunt vel quo tempore commodi facilis. Et, blanditiis!
    Esse temporibus blanditiis ut cumque consectetur quaerat maxime perferendis consequatur provident autem adipisci,
    atque pariatur minima deserunt nisi ad quos tenetur vero vel voluptatibus a assumenda ab quis. Eligendi, qui.
    Repellat necessitatibus iusto quae ut omnis saepe consequuntur iste architecto expedita ipsum. Vero sapiente
    officiis doloribus id nobis est incidunt? Corporis, qui. Aliquid vero impedit incidunt adipisci reiciendis quisquam
    doloremque.
    Eveniet perferendis temporibus molestias? Repudiandae adipisci reiciendis exercitationem est ex ab excepturi quod
    expedita natus tenetur eveniet assumenda quaerat, ipsum fuga illum animi dicta fugit. Ipsa beatae in sapiente
    commodi?
    Ipsa velit sapiente error impedit quae natus facilis! Vel, enim perspiciatis sint reprehenderit modi voluptates qui
    deleniti quia amet illum cumque quaerat, deserunt, nobis maiores? Temporibus pariatur tenetur modi ipsam!
    Dicta error sunt laborum esse, deleniti officia in. Corporis voluptate libero perferendis voluptas, necessitatibus
    culpa illum cupiditate natus earum ratione qui adipisci placeat. Quo vel beatae tempora accusamus cumque. Veritatis!
  </p>

  <p>You can also include <a href="#">links</a> and other HTML elements in your content.</p>
</main>