<app-nav-bar  [name]="data" (newItemEvent)="onDataUpdated($event)"></app-nav-bar>
<app-sidebar></app-sidebar>
<header>
    <h1></h1>
    <p>Welcome to our awesome content page!</p>
  </header>

  <main>
    <h2>Contact US:</h2>
    <p>Company Email: www.html.com</p>

    <h3>Location</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim sed quae necessitatibus at incidunt asperiores debitis voluptatum? Accusamus, assumenda praesentium illo tenetur doloribus ducimus sed blanditiis excepturi? Illum, nobis obcaecati.
    Aut illum explicabo nam quod quo ab incidu perferendis voluptas, necessitatibus culpa illum cupiditate natus earum ratione qui adipisci placeat. Quo vel beatae Veritatis!</p>

    <p>You can also include <a href="#">links</a> and other HTML elements in your content.</p>
  </main>
  <app-footer></app-footer>