.sidebar {
    width: 200px;
    height: 441px;
    background-color: #333;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-option:hover {
    background-color: #555;
  }
  
  .active {
    background-color: #555;
  }
  