<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">




    <p-button (click)="hideBar()" icon="pi pi-align-justify"></p-button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



      </ul>

      <div class="search-container" [ngClass]="{'active': isSearchActive}">
        <input class="form-control" *ngIf="isSearchActive" type="text" placeholder="Type your search">
        <p-button icon="pi pi-search" severity="danger" (click)="toggleSearch()"></p-button>
      </div>
      <label for="">{{name}}</label>
      <div>
        <img [src]="image" alt="">
      </div>
      <div class="dropdown">
        <button class="dropdown-btn btn-primary">...</button>
        <div class="dropdown-content">

          <button class="btn btn-danger" (click)="logout()">Logout</button>

        </div>
      </div>
      <p-button (click)="showDialog('right')" icon="pi" [rounded]="true" severity="secondary">
        <i class="pi pi-bell text-3xl" pBadge value="2"></i>
      </p-button>
      <p-dialog header="Notifications" [(visible)]="visible" [position]="position" [style]="{ width: '50vw' }">
        <p>
          "John invited you", "You have message from Peter"</p>
      </p-dialog>

    </div>
  </div>

</nav>